
/*--------------------------------------------------The section for the navigation bar begins--------------------------------------------------------------*/

/*This is the background color of the button business_corporate*/
.active{
    background-color: grey;
  }
  /* CSS for navbar starts here*/
  a {
    color:black;
  }
  
  li a:hover {
    background-color: grey;
  }
  
  .navbar {
    text-align: center;
    background-color: white;
  }
  
  .navbar ul {
    display: inline-block;
    list-style: none;
    font-size: 20px
    /*font-family: sant-serif;*/
    /*font-weight: bold;*/
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*the look color of the Events box when focused o it*/
  navbar a:hover,  .dropdown .dropbtn{
    background-color: white;
  }
  
  .dropdown{
    float:left;
  }
  /*Events box;the way in looks on the navigation bar*/
  .dropdown .dropbtn{
    font-size:20px;
    border:none;
    padding: 14px 16px;
    margin:0;
    font-family: serif;
    /*font-weight: bold;
    color: #551A8B;*/
  }
  /*how the Events box looks*/
  .dropdown-content{
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    /*font-family: sans-serif;
    font-weight: bold;*/
  }
  /*dropdowncontent, the way it looks*/
  .dropdown-content a {
    float: none;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /*the hover from the dropdown content*/
  .drop-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
  /*----------------------------------------------------The section for the navigation bar ends--------------------------------------------------------------*/
  /* Div holding the logo */
  /* We play with the margins to center it */
  .logo {
    display: block;
    margin-left:auto;
    margin-right: 550px;
    margin-top: 50px;
    width: 20%;
  }
  
  /* Image of the logo */
  .image_logo {
    display: block;
    margin-right: 100px;
    width: 150%
  }
  body{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  